spring.application.name=todo

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=
spring.jpa.show-sql=true
spring.jpa.format_sql=true